.activities {
  padding-bottom: 94px;

  text-align: center;
}

.activities-list {
  display: flex;
}

.activities-list__item {
  display: block;
  position: relative;
  width: 370px;

  & + .activities-list__item {
    margin-left: 30px;
  }
}

.activities-list__place-for-heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities-list__heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  color: $white-color;
}
