.hero {
  max-width: 1600px;
  background-color: $bg-color-hero;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header/hero-m.jpg');
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header/hero-m-2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header/hero-t.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header/hero-t-2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header/hero-d.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header/hero-d-2x.jpg');
    }
  }
}

.hero-container {
  text-align: center;
}

.hero__heading {
  margin-bottom: 30px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $white-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.363;
  }
}

.hero__order-service {
  padding-right: 32px;
  padding-left: 32px;

  transition: background-color $transition-duration $transition-timing-function;
  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color-button;
  }
}
