.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;

  padding: 40px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1, 1);

  transition: opacity $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function,
    visibility $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %alignmentflex;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $modal-button;
  background: $white-color;
  fill: rgba(0, 0, 0, 1);

  transition: fill $transition-duration $transition-timing-function;

  &:hover,
  &:focus,
  &:active {
    fill: $accent-color;
  }
}

.modal-form__heading {
  display: box;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $title-text-color;
}

.modal-form__label-for-input {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: $primery-text-color;
  margin-bottom: 10px;
}

.modal-form__for-input {
  position: relative;
  margin-top: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  @include icons(18px, 18px);
  transition: fill $transition-duration $transition-timing-function;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;

  border: 1px solid $modal-border-input;
  border-radius: 4px;

  transition: border $transition-duration $transition-timing-function;

  &:focus {
    border: 1px solid $accent-color;
  }
  &:focus + .modal-form__icon {
    fill: $accent-color;
  }
}

.modal-form__input-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  margin-top: 4px;

  border: 1px solid $modal-border-input;
  border-radius: 4px;

  transition: border $transition-duration $transition-timing-function;

  &:focus {
    border: 1px solid $accent-color;
  }

  &::placeholder {
    color: $mdal-coment-text;
  }
}

.modal-form__label-checkbox {
  @extend %alignmentflex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-link {
  color: $accent-color;
}

.modal-form__checkbox-icon {
  display: inline-block;
  @include icons(16px, 15px);
  border: 2px solid $title-text-color;
  border-radius: 3px;
  margin-right: 10px;

  transition: border $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function;
}

.modal-form__checkbox-input:checked + .modal-form__checkbox-icon {
  border: 0px solid $accent-color;
  background-color: $accent-color;
}

.modal-form__label-checkbox:hover
  > .modal-form__checkbox-input:not(:checked)
  + .modal-form__checkbox-icon,
.modal-form__label-checkbox:focus
  > .modal-form__checkbox-input:not(:checked)
  + .modal-form__checkbox-icon,
.modal-form__checkbox-input:focus + .modal-form__checkbox-icon {
  border: 2px solid $accent-color;
}

.modal-form__place-for-button {
  @extend %alignmentflex;
}

.modal-form__button-submit {
  border: 0px solid $accent-color;
  text-align: center;

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color-button;
  }
}
