.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94pox;
  }
}

.portfolio-filters-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin-bottom: -15px;
  margin-left: -8px;
}

.portfolio-filters-list__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.portfolio-filters-list__button {
  padding: 6px 22px;
  min-width: auto;

  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;

  text-align: center;
  color: $title-text-color;
  background-color: $bg-color-section;
  box-shadow: none;

  transition: background-color $transition-duration $transition-timing-function,
    color $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

  &:hover,
  &:focus,
  &:active {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-filters-list__button--active {
  background-color: $accent-color;
  color: $white-color;
}

.portfolio-projects-list {
  margin-bottom: -30px;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.portfolio-projects-list__item {
  margin-bottom: 30px;

  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-projects-list__link {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  border: 1px solid $border-color-item;
  transition: box-shadow $transition-duration $transition-timing-function;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio-projects-list__overlay,
  &:focus .portfolio-projects-list__overlay,
  &:active .portfolio-projects-list__overlay {
    opacity: 1;
    top: 0;
  }
}

.portfolio-projects-list-thumb {
  position: relative;
  overflow: hidden;

  width: 100%;
}

.portfolio-projects-list__image {
  height: auto;
  object-fit: cover;
}

.portfolio-projects-list__overlay {
  @extend %alignmentflex;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $bg-color-hover-projects;

  overflow: hidden;
  opacity: 0;
  pointer-events: none;

  transition: top $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function;
}

.portfolio-projects-list__overlay-text {
  font-size: 18px;
  line-height: 1.556;

  color: $white-color;
}

.portfolio-projects-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  flex-grow: 1;

  text-align: left;
}

.portfolio-projects-description__heading {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-projects-description__group {
  font-size: 16px;
  line-height: 1.875;
}
