$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$bg-color: #2f303a;
$white-color: #ffffff;
$accent-color-button: #188ce8;
$bg-color-section: #f5f4fa;
$black-color: #000000;
$address-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$border-color-item: #eeeeee;
$bg-color-item: #f5f4fa;
$bg-color-hero: #c4c4c4;
$bg-icon: #afb1b8;
$bg-white-transparency: rgba(255, 255, 255, 0.1);
$modal-overlay: rgba(0, 0, 0, 0.2);
$modal-button: rgba(0, 0, 0, 0.1);
$bg-color-hover-projects: rgba(33, 150, 243, 0.9);
$subscription-border-color: rgba(255, 255, 255, 0.3);
$modal-border-input: rgba(33, 33, 33, 0.2);
$mdal-coment-text: rgba(117, 117, 117, 0.5);

$font-family-logo: raleway, sans-serif;
$primery-font-family: roboto, sans-serif;

$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
